<div class="todo">
    <div>
        <h1>Lista de Tareas</h1>
        <input type="text" id="item-input" #nueva_tarea>
        <select id="prioridad" #prioridad>Prioridad
            <option value="1">Alta</option>
            <option value="2">Media</option>
            <option value="3">Baja</option>
        </select>
        <button type="button" (click)="anadir_tarea(nueva_tarea.value,prioridad.value)">Añadir</button>
    </div>
    <ul>
        <li *ngFor="let tarea of tareas ; index as i" (click)="cambiar_completada(i)" [class.tarea_completada]="tarea.completada">

            <h4>Nombre</h4> {{tarea.tarea}}
            <h4>Estado</h4> {{ver_estado (tarea.completada)}}
            <h4>Prioridad</h4>Prioridad {{tarea.prioridad == 3 ? "Alta":tarea.prioridad == 2 ? "Media":"Baja"}}
            <h4>Crada hace</h4>{{fechaActual(tarea.fecha_creacion)}} minutos <br>
            <input type="button" value="Alta" (click)="poner_prio_alta(i)">
            <input type="button" value="Media" (click)="poner_prio_media(i)">
            <input type="button" value="Baja" (click)="poner_prio_baja(i)">
            <input type="button" value="Borrar" (click)="borrar(i)">
  
        </li>


    </ul>
    <div>
        <input type="button" value="Borrar completadas" (click)="borrarCompletadas()">
    </div>

    <style>
 
        .tarea_completada {
            z-index: 1;
            text-decoration: line-through rgb(240, 111, 111) 2px;
            color: rgb(255, 255, 255);
            background-color: rgb(240, 189, 173);
        }

        .todo {
            background-color: blanchedalmond;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .todo div {
            width: 35vh;
        }

        ul {
            padding-left: 0px;
            background-color: beige;
            width: 40vh;
        }

        li {
            margin-bottom: 1vh;
            padding-bottom: 1vh;
            list-style: none;
            border: 1px solid black;
        }
    </style>



</div>